{% extends 'adminapp/base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ title|title }} - {{ block.super }} {% endblock %}
{% block breadcrumb %}
{% include 'adminapp/includes/breadcrumb.html' %}
{% endblock %}
{% block content %}
<table class="table table-bordered">
    <tbody>
    <tr>
        <th>Название</th>
        <td>{{ object.title }}</td>
    </tr>
    <tr>
        <th>Краткое описание</th>
        <td>{{ object.short_description }}</td>
    </tr>
    <tr>
        <th>Статус</th>
        <td>
            {% if object.is_active %}
            Активна
            {% else %}
            Не активна
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Дата создания</th>
        <td>{{ object.created_at }}</td>
    </tr>
    <tr>
        <th>Дата обновления</th>
        <td>{{ object.updated_at }}</td>
    </tr>
    </tbody>
</table>
<div class="form-group">
    <a href="{% url 'adminapp:product_categories_index' %}" class="btn btn-default">Назад</a>
</div>
{% endblock %}