<aside class="left_widgets p_filter_widgets sidebar_box_shadow">
    <div class="l_w_title">
        <h3>Категории товаров</h3>
    </div>
    <div class="widgets_inner">
        <ul class="list list-categories">
        {% for model in list_categories %}
            {% if model.sub_categories %}
            <li class="sub-menu">
                <a href="{{ category.href }}" class=" d-flex justify-content-between">
                    {{ model.title }}
                    <div class="right ti-plus"></div>
                </a>
                <ul>
                    {% for model in list_categories %}
                    <li><a href="{{ category.category_view.url }}">{{ model.title }}</a></li>
                    {% endfor %}
                </ul>
            <li>
            {% else %}
            <li class="{% if model.id == category.id %}active{% endif %}">
                <a href="{% url 'shop:category_view' model.id %}">{{ model.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</aside>