<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Adminside {% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    {% block css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    {% endblock %}
</head>
<body>
    <div class="container">
        {% include 'adminapp/includes/nav.html' %}
        {% block breadcrumb %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
    {% block js %}
    <!-- jquery plugins here-->
    <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}
</body>
</html>