<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'mainpage:index' %}">На сайт</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:product_categories_index' %}">Категори</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:products_list' %}">Продукты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'authapp:logout' %}">Выход</a>
    </li>
</ul>