{% if cart.get_user_products %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Продукт</th>
            <th scope="col">Цена</th>
            <th scope="col">Колличество</th>
            <th scope="col">Итого</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for model in cart.get_user_products %}
        <tr>
            <td>
                <div class="media">
                    <div class="d-flex">
                        <img src="{{ model.product.image.url }}" alt="{{ model.product.title }}"/>
                    </div>
                    <div class="media-body">
                        <p>{{ model.product.title }}</p>
                    </div>
                </div>
            </td>
            <td>
                <h5>{{ model.price }}</h5>
            </td>
            <td>
                <div class="product_count">
                    <span class="input-number-decrement" data-pk="{{ model.id }}"> <i class="ti-minus"></i></span>
                    <input class="input-number" type="text" value="{{ model.quantity }}">
                    <span class="input-number-increment" data-pk="{{ model.id }}"> <i class="ti-plus"></i></span>
                </div>
            </td>
            <td>
                <h5>{{ model.total_price_by_row }}</h5>
            </td>
            <td>
                <a class="cart-delete-item" href="{% url 'cartapp:delete' model.id %}"><i class="ti-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <h5>Итого</h5>
            </td>
            <td>
                <h5>{{ cart.total_cart_price_products }}</h5>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="checkout_btn_inner float-right">
        <a class="btn_1" href="{% url 'shop:catalog' %}">Продолжить покупки</a>
        <a class="btn_1 checkout_btn_1" href="{% url 'cartapp:checkout' %}">Оформить заказ</a>
    </div>
</div>
{% else %}
<p class="sample-text">
    Ваша корзина пока пуста
</p>
<div class="table-responsive">
    <div class="checkout_btn_inner float-right">
        <a class="btn_1" href="{% url 'shop:catalog' %}">Продолжить покупки</a>
    </div>
</div>
{% endif %}